<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="remesas">
            <h2><span jhiTranslate="remesasApp.remesas.detail.title">Remesas</span> {{remesas.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="remesasApp.remesas.empresa">Empresa</span></dt>
                <dd>
                    <span>{{remesas.empresa}}</span>
                </dd>
                <dt><span jhiTranslate="remesasApp.remesas.tasa">Tasa</span></dt>
                <dd>
                    <span>{{remesas.tasa}}</span>
                </dd>
                <dt><span jhiTranslate="remesasApp.remesas.fechaAct">Fecha Act</span></dt>
                <dd>
                    <span>{{remesas.fechaAct}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/remesas', remesas.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
